App_WebReferences/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Table_Template_View">
        <s:complexType />
      </s:element>
      <s:element name="Table_Template_ViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Table_Template_ViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Table_Template_Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Table_Template_AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Table_Template_AddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Table_Template_Edit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Table_Template_EditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Table_Template_EditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Table_Template_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Table_Template_DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Table_Template_DeleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Table_Template_ViewSoapIn">
    <wsdl:part name="parameters" element="tns:Table_Template_View" />
  </wsdl:message>
  <wsdl:message name="Table_Template_ViewSoapOut">
    <wsdl:part name="parameters" element="tns:Table_Template_ViewResponse" />
  </wsdl:message>
  <wsdl:message name="Table_Template_AddSoapIn">
    <wsdl:part name="parameters" element="tns:Table_Template_Add" />
  </wsdl:message>
  <wsdl:message name="Table_Template_AddSoapOut">
    <wsdl:part name="parameters" element="tns:Table_Template_AddResponse" />
  </wsdl:message>
  <wsdl:message name="Table_Template_EditSoapIn">
    <wsdl:part name="parameters" element="tns:Table_Template_Edit" />
  </wsdl:message>
  <wsdl:message name="Table_Template_EditSoapOut">
    <wsdl:part name="parameters" element="tns:Table_Template_EditResponse" />
  </wsdl:message>
  <wsdl:message name="Table_Template_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Table_Template_Delete" />
  </wsdl:message>
  <wsdl:message name="Table_Template_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:Table_Template_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Table_Template_ViewHttpGetIn" />
  <wsdl:message name="Table_Template_ViewHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_AddHttpGetIn">
    <wsdl:part name="json" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_AddHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_EditHttpGetIn">
    <wsdl:part name="json" type="s:string" />
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_EditHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_DeleteHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_ViewHttpPostIn" />
  <wsdl:message name="Table_Template_ViewHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_AddHttpPostIn">
    <wsdl:part name="json" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_AddHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_EditHttpPostIn">
    <wsdl:part name="json" type="s:string" />
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_EditHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_DeleteHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Table_Template_DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Table_Template_View">
      <wsdl:input message="tns:Table_Template_ViewSoapIn" />
      <wsdl:output message="tns:Table_Template_ViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Add">
      <wsdl:input message="tns:Table_Template_AddSoapIn" />
      <wsdl:output message="tns:Table_Template_AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Edit">
      <wsdl:input message="tns:Table_Template_EditSoapIn" />
      <wsdl:output message="tns:Table_Template_EditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Delete">
      <wsdl:input message="tns:Table_Template_DeleteSoapIn" />
      <wsdl:output message="tns:Table_Template_DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="Table_Template_View">
      <wsdl:input message="tns:Table_Template_ViewHttpGetIn" />
      <wsdl:output message="tns:Table_Template_ViewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Add">
      <wsdl:input message="tns:Table_Template_AddHttpGetIn" />
      <wsdl:output message="tns:Table_Template_AddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Edit">
      <wsdl:input message="tns:Table_Template_EditHttpGetIn" />
      <wsdl:output message="tns:Table_Template_EditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Delete">
      <wsdl:input message="tns:Table_Template_DeleteHttpGetIn" />
      <wsdl:output message="tns:Table_Template_DeleteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="Table_Template_View">
      <wsdl:input message="tns:Table_Template_ViewHttpPostIn" />
      <wsdl:output message="tns:Table_Template_ViewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Add">
      <wsdl:input message="tns:Table_Template_AddHttpPostIn" />
      <wsdl:output message="tns:Table_Template_AddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Edit">
      <wsdl:input message="tns:Table_Template_EditHttpPostIn" />
      <wsdl:output message="tns:Table_Template_EditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Delete">
      <wsdl:input message="tns:Table_Template_DeleteHttpPostIn" />
      <wsdl:output message="tns:Table_Template_DeleteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Table_Template_View">
      <soap:operation soapAction="http://tempuri.org/Table_Template_View" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Add">
      <soap:operation soapAction="http://tempuri.org/Table_Template_Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Edit">
      <soap:operation soapAction="http://tempuri.org/Table_Template_Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Delete">
      <soap:operation soapAction="http://tempuri.org/Table_Template_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Table_Template_View">
      <soap12:operation soapAction="http://tempuri.org/Table_Template_View" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Add">
      <soap12:operation soapAction="http://tempuri.org/Table_Template_Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Edit">
      <soap12:operation soapAction="http://tempuri.org/Table_Template_Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Delete">
      <soap12:operation soapAction="http://tempuri.org/Table_Template_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Table_Template_View">
      <http:operation location="/Table_Template_View" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Add">
      <http:operation location="/Table_Template_Add" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Edit">
      <http:operation location="/Table_Template_Edit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Delete">
      <http:operation location="/Table_Template_Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Table_Template_View">
      <http:operation location="/Table_Template_View" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Add">
      <http:operation location="/Table_Template_Add" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Edit">
      <http:operation location="/Table_Template_Edit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table_Template_Delete">
      <http:operation location="/Table_Template_Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost/Finance%20Control/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost/Finance%20Control/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://localhost/Finance%20Control/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://localhost/Finance%20Control/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>